<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div>
    <%= f.label "Question Files" %><br>
    <%= f.file_field :avatar , :class => "btn file-field input-field"%>
  </div>
  <div class="actions">
  <p>
    <%= f.submit  :class => "btn" %>
    <%= link_to 'Back', questions_path, :class => "btn" %>
    </p>
  </div>
<% end %>
